html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
}

/* glob */

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  padding-top: 70px;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 45px;
}

/* header */

.header-top {
  padding: 30px 0;
  align-items: center;
}

.header-logo {
  margin-right: 30px;
}

.account {
  margin-left: auto;
}

.header-buttom {
  justify-content: space-between;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn:not(:last-child) {
  margin-right: 45px;
}

/* special-offers */

.wrap-room {
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.cards-left {
  flex-basis: 50%;
  margin-right: 12px;
}

.cards-right {
  flex-basis: 50%;
  margin-left: 12px;
  padding: 40px;
  background-image: url(../img/offers-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.left-top {
  margin-bottom: 24px;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url(../img/offers-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.left-bottom {
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url(../img/offers-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.offers-title {
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
}

.offers-price {
  margin-bottom: 47px;
  color: #fff;
  opacity: 0.8;
  font-size: 20px;
  line-height: 20px;
}

.offers-link {
  padding-right: 15px;
  color: #F0BF5F;
  font-size: 16px;
  line-height: 16px;
  background-image: url(../img/offers-4.svg);
  background-repeat: no-repeat;
  background-position: right;
}


/* Старая версия

.special-offers-list {
  flex-wrap: wrap;
}

.special-offers-item {
  width: 573px;
  padding-left: 45px;
  margin-bottom: 24px;
  outline: 1px solid blue;
}

.special-offers-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.offers-title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 15px;
}

.offers-link {
  display: block;
  margin-top: 47px;
  margin-bottom: 40px;
}

*/

/* services */

.services-cards {
  flex-wrap: wrap;
}

.services-card {
  width: 572px;
  margin-bottom: 24px;
  outline: 1px solid blue;
  border-radius: 15px;
}

.services-card:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-card-wrap-text {
  padding: 45px;
}

.services-title {
  margin: 0;
}

.services-card-text {
  margin: 0;
}

.services-card-wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 165px;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-card-wrap-img1::before {
  background-image: url(../img/ser-1.png);
}

.services-card-wrap-img2::before {
  background-image: url(../img/ser-2.png);
}

.services-card-wrap-img3::before {
  background-image: url(../img/ser-3.png);
}

.services-card-wrap-img4::before {
  background-image: url(../img/ser-4.png);
}

/* advantages */

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 276px;
  padding: 45px;
  margin-bottom: 22px;
  outline: 1px solid blue;
  background-position: 40px 10px;
  background-repeat: no-repeat;
  padding-top: 85px;
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-list-text {
  margin: 0;
  margin-bottom: 32px;
}

.advantages-list-item-icon1 {
  background-image: url(../img/adv-1.svg);
}

.advantages-list-item-icon2 {
  background-image: url(../img/adv-2.svg);
}

.advantages-list-item-icon3 {
  background-image: url(../img/adv-3.svg);
}

.advantages-list-item-icon4 {
  background-image: url(../img/adv-4.svg);
}

.advantages-list-item-icon5 {
  background-image: url(../img/adv-5.svg);
}

.advantages-list-item-icon6 {
  background-image: url(../img/adv-6.svg);
}

.advantages-list-item-icon7 {
  background-image: url(../img/adv-7.svg);
}

.advantages-list-item-icon8 {
  background-image: url(../img/adv-8.svg);
}

/* accom */

.accom-list {
  flex-wrap: wrap;
}

.accom-list-item {
  min-width: 374px;
  min-height: 440px;
  flex-direction: column;
  margin-bottom: 24px;
  outline: 1px solid blue;
  border-radius: 15px;
}

.accom-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accom-card-wrap {
  padding: 32px 45px 28px 45px;
  height: 100%;
  flex-direction: column;
  flex-basis: 100%;
}

.accom-card-wrap-top {
  justify-content: space-between;
  margin-bottom: 16px;
}

.accom-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.accom-card-link {
  margin: 0;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.accom-list-item-img {
  background-image: url(../img/accom-9.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.accom-card-last {
  padding-bottom: 27px;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.accom-last-card-btn {
  padding-right: 15px;
  background-image: url(../img/accom-10.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
}
